# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-arg.txt
*.egg-info/
.coverage
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.mo
*.pot
*.log
*.sqlite3
media/
staticfiles/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
build/
dist/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.cache/
coverage/
*.tgz

# OS-specific
.DS_Store
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Miscellaneous
*.zip
*.tar
*.tar.gz
*.rar