# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env/
virtualenv/
.venv/
pip-log.txt
pip-delete-this-arg-in-future.log
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.egg-info/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
build/
dist/
out/
.next/
.nuxt/
.parcel-cache/

# Environment variables
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
